*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    display: flex;
}

header{
    flex-direction: row;
}
nav{
    display: flex;
    width: 100%;
    background-color: rgb(52 52 56);
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
}
#logo{
    padding-top: 10px;
}
#logo:hover{
    transform: scale(1.2);


}
#list-container{
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    color: white;
}

.header-body{
    display: flex;
    width: 100%;
    padding: 30px 0 ;
    justify-content: space-around;
    padding-top: 65px;
    background-color: rgb(52 52 56);
    text-align: left;
}
 .quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 20px;
    padding-top: 40px;
 }
 .signup{
    width: 125px;
    height: auto;
    padding: 6px;
    background: #3b82f6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    border: none;
    box-shadow: 0px 0px 10px 0px black;
 }
 .signup:hover{
    background-color: #3475de;
 }
.signup:active{
    background-color: #2960b8;
    box-shadow: 0 0 0 0;
    transform: translateY(2px);
}
.img1{
    border-radius: 50px;
}
.img1:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 35px 0px black;
    cursor: pointer;
}


#info{
    text-align: center;
    padding: 25px;
}
#location-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 50px;
    
}
#img2,#img3,#img4,#img5{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #3b82f6;
    box-shadow: 0px 0px 10px 0px black;
}
#img2:hover,#img3:hover,#img4:hover,#img5:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px #3b82f6;
}

figcaption{
    width: 300px;
    height: 150px;
    padding: 20px 0;
}
#quotation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 224)
}
.quote h1:hover{
    color: #ee632c;
    cursor: pointer;
}
#quotation-information{
    width: 50%;
    height: auto;
    padding: 25px;
    font-size: 20px;
    font-style: italic;
}
#author{
    text-align: end;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}
#signup-container{
    display: flex;
    padding: 141px;
    height: 213px;
 
}
#signup-content{
    width: 70%;
    height: 200px;
    background: #3b82f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex: 1;
    border-radius: 15px;
}

#above-footer{
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#signup2{
    border: 3px solid white;
}

#footer{
    color: white;
    padding: 20px;
    text-align: center;
    background-color: rgb(57, 57, 72);
}